/*  MIGHT DELETE THIS LATER JUST AN EXPERIMENT  */



/*  BEGINNING PROJECT ELEMENTS  */

header {
  background-color: #ffa500;
}

h1 {
    position: center;
    color: #ff0000;
}

p {
  font-size: 1em;
}

/*  MESSING WITH CLASSES  */
